<launch>
  <node name = "lms1xx" pkg = "lms1xx" type = "LMS1xx_node" args = "_host:=169.254.37.213"/>
  <node name = "gps_setting" pkg = "rosserial_python" type = "serial_node.py" args = "_port:=/dev/ttyACM0"/>
  <!--node pkg = "rosbag" type = "record" name = "record" args = "-a -o $(find zero_monitor)/data/dynamic/all_topics"/>
  <node pkg = "rosbag" type = "record" name = "record_lidar" args = "/scan -o $(find zero_monitor)/data/dynamic/scan"/>
  <node pkg = "rosbag" type = "record" name = "record_raw_img" args = "/forward_camera/raw_img -o $(find zero_monitor)/data/dynamic/raw_img"/>
  <node pkg = "rosbag" type = "record" name = "record_traffic_img" args = "/traffic_image -o $(find zero_monitor)/data/dynamic/traffic_image"/>
  <node pkg = "rosbag" type = "record" name = "record_motion_state" args = "/motion_state -o $(find zero_monitor)/data/totaldynamic_bag/motion_state"/>
  <node pkg = "rosbag" type = "record" name = "gps" args = "/gps -o $(find zero_monitor)/data/dynamic/gps"/-->
  <!--
  contest parameters
  -->
  <param name = "/car_name" value = "ZEROSNU" />
  <param name = "/data_path" value = "$(find zero_monitor)/data/" />
  <param name = "/logo_path" value = "$(find zero_monitor)/logo/" />
  <!--
  node list
  -->

  <group ns = "zero_monitor">
    <node name = "zero_monitor" pkg = "zero_monitor" type = "zero_monitor.py"  />
  </group>

  <group ns = "imu_encoder">
    <node name = "imu_encoder" pkg = "imu_encoder" type = "imu_encoder.py"/>
  </group>

  <group ns = "lidar">
    <node name = "lidar_subscriber" pkg = "lidar" type = "lidar_subscriber.py"/>
  </group>

  <group ns = "raw_local_map">
    <node name = "map_merger" pkg = "lidar" type = "merge_vision.py"  />
  </group>

  <group ns = "forward_camera">
    <node name = "cam" pkg = "forward_camera" type = "cam.py"/>
    <node name = "forward_camera" pkg = "forward_camera" type = "draw_lane.py"/>
  </group>

  <group ns = "gps">
    <node name = "gps" pkg = "gps" type = "second_contest.py" />
  </group>

  <group ns = "traffic_light">
    <node name = "traffic_light" pkg = "traffic_light" type = "traffic_light.py"/>
  </group>

  <group ns = "sign_camera">
    <node name = "sign_camera" pkg = "sign_camera" type = "sign_camera.py"/>
  </group>

  <group ns = "mission_master">
    <node name = "mission_master" pkg = "mission_master" type = "mission_master.py"/>
  </group>


  <group ns = "planner">
    <node name = "dorrt" pkg = "planner" type = "dorrt"/>
    <node name = "astar" pkg = "planner" type = "astar"/>
  </group>

  <group ns = "path_tracker">
    <node name = "path_tracker" pkg = "path_tracker" type = "path_tracker.py" output = "screen" />
  </group>

  <group ns = "model_estimator">
    <node name = "model_estimator" pkg = "model_estimator" type = "model_estimator.py"/>
  </group>

  <group ns = "serial_communicator">
    <node name = "serial_communicator" pkg = "serial_communicator" type = "serial_com.py"/>
  </group>
  <!--node name = "rqt_graph" pkg = "rqt_graph" type = "rqt_graph"/-->

</launch>
